<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [7]:
# create empty list, name it 'a'
a = []

In [8]:
# print the value of a
print(a)

[]

In [9]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [26]:
languages=['R','python','SAS','Scala',42]
print(languages)

['R', 'python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [27]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [30]:
for i in languages:
    print(i)

R
python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [33]:
temp=languages[1]
print(temp)

python

Print the value of temp and type(temp)

In [34]:
print(temp)
type(temp)

python

str

Append the element 'Java' in the list

In [35]:
languages.append('Java')
print(languages)

['R', 'python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [36]:
languages.remove(42)
print(languages)

['R', 'python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [47]:
colors=['Red','Blue','White']

Append the element 'Black' to colors

In [48]:

colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [49]:
colors.insert(1,"Orange")
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [50]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [51]:
colors2=['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [52]:
colors.extend(colors2)

Print len of colors and its elements

In [54]:
print(colors)
len(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

7

Sort the list and print it.

In [56]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [61]:
sent='Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [65]:
words=sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [67]:

words_lower = [word.lower() for word in words]  # Convert each word to lowercase
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [69]:
if 'country' in words_lower:
    print("'country' is in the list.")
else:
    print("'country' is not in the list.")

'country' is not in the list.

Remove the element ‘the’ from the list and print the list.

In [70]:
words_lower.remove("the")
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [71]:
x4 = words_lower[:4]  # Select the first 4 words using slicing
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

In [73]:
print (x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [74]:
single_string = ' '.join(words_lower)  # Join the list elements with a space
print(single_string)

coronavirus caused lockdowns around world.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [79]:
stud_grades=['A','A','B','C','C','C','F']
print(stud_grades)

['A', 'A', 'B', 'C', 'C', 'C', 'F']

Print the len of stud_grades

In [80]:

len(stud_grades)

7

Create a new variable, stud_grades_set = set(stud_grades)

In [81]:
stud_grades_set=set(stud_grades)

Print stud_grades_set.

In [82]:

print(stud_grades_set)

{'B', 'F', 'C', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [88]:

# Print their types
print("Type of stud_grades:", type(stud_grades))
print("Type of stud_grades_set:", type(stud_grades_set))

# Print their elements
print("Elements in stud_grades (list):", stud_grades)
print("Elements in stud_grades_set (set):", stud_grades_set)

Type of stud_grades: <class 'list'>
Type of stud_grades_set: <class 'set'>
Elements in stud_grades (list): ['A', 'A', 'B', 'C', 'C', 'C', 'F']
Elements in stud_grades_set (set): {'B', 'F', 'C', 'A'}

Add a new element ‘G’ to stud_grades_set

In [90]:
stud_grades_set.add('G')
print(stud_grades_set)

{'F', 'G', 'B', 'C', 'A'}

Add element 'F' to stud_grades_set. and print it.

In [91]:
stud_grades_set.add('F')
print(stud_grades_set)

{'F', 'G', 'B', 'C', 'A'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [92]:

stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [93]:
print(stud_grades_set)
len(stud_grades_set)

{'G', 'B', 'C', 'A'}

4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [94]:
colors=['red','blue','orange']
fruits=['orange','grapes','apples']

Print color and fruits

In [96]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [97]:
colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set)
print(fruits_set)

{'red', 'blue', 'orange'}
{'grapes', 'apples', 'orange'}

Find the union of both the sets.

In [98]:

print(colors_set.union(fruits_set))

{'red', 'grapes', 'blue', 'apples', 'orange'}

Find the intersection of both the sets

In [99]:
print(colors_set.intersection(fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [100]:
print(fruits_set.difference(colors_set))

{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [101]:
temp=[17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [102]:
for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [104]:
temp[0]=11
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [113]:
temp1=tuple(temp)
print(temp1)

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [114]:
for i in temp1:
    print(temp1)

(11, 'Virat', 50.0)
(11, 'Virat', 50.0)
(11, 'Virat', 50.0)

replace first element with 17 in temp1

In [115]:
temp1[0]=11
print(temp1)

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [116]:
city=("Bangalore",28.9949521,72)

Print first element of city

In [117]:
print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [118]:
city2=('Chennai',30.01,74)

Create cities which consist of city and city2

In [119]:
cities=(city,city2)
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print cities

In [120]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [121]:
type(cities[0])

tuple

print the type of cities

In [122]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [123]:
d = {"actor": "amir", "animal": "cat", "earth": 2, "list": [23, 32, 12]}

Print the value of d[0]

In [124]:
print(d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [125]:
actor = d['actor']
print(actor)

amir

Print the type of actor

In [126]:
type(actor)

str

Store the value of d[‘list’] in new variable List.

In [127]:
List = d['list']
print(List)

[23, 32, 12]

Print the type of List.

In [128]:
type(List)

list

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [129]:
d1 = {'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}
print(d1)

{'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [130]:
d.update(d1)
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

print d

In [131]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [132]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [133]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [134]:
# Iterate and print each key-value pair
for key, value in d.items():
    print(f"{key} ----> {value}")

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [135]:
sent = 'Coronavirus Caused Lockdowns Around The World.'  # Input string
char_count = {}  # Initialize an empty dictionary

# Count occurrences of each character
for char in sent:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Print the result
print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}